* {
  margin: 0;
  padding: 0;
}

:root {
  --padding: 1.5rem;
  font-size: 0.88rem;
  line-height: 18px;
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #777;
  --color-light: #efefef;
  --color-text: var(--color-black);
  --color-text-grey: var(--color-grey);
  --color-background: var(--color-white);
  --color-code-light-grey: #cacbd1;
  --color-code-comment: #a9aaad;
  --color-code-white: #c5c9c6;
  --color-code-red: #d16464;
  --color-code-orange: #de935f;
  --color-code-yellow: #f0c674;
  --color-code-green: #a7bd68;
  --color-code-aqua: #8abeb7;
  --color-code-blue: #7e9abf;
  --color-code-purple: #b294bb;
  --font-family-sans: "Suisse Int'l", 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('~assets/fonts/SuisseIntl-Regular.woff') format('woff');
  src: url('~assets/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src: url('~assets/fonts/SuisseIntl-Bold.woff') format('woff');
  src: url('~assets/fonts/SuisseIntl-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: var(--font-family-sans);
  color: var(--color-text);
  line-height: 18px;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  background: var(--color-background);
}
img {
  width: 100%;
}
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
}

header {
  justify-content: space-between;
  padding: 1.25rem;
  display: flex;
  height: calc(14rem - 2.5rem);
}

.header__right {
  display: flex;
  gap: 2rem;
  opacity: 1;
}
li {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  font: inherit;
  background: none;
  border: 0;
  color: currentColor;
  cursor: pointer;
}
strong,
b {
  font-weight: 600;
}
small {
  font-size: inherit;
  color: var(--color-text-grey);
}

.bg-light {
  background-color: var(--color-light);
}
.color-grey {
  color: var(--color-text-grey);
}

.home .projects-nav,
.index .projects-nav {
  opacity: 0;
  pointer-events: none;
}

.home .index-link,
.index .home-link {
  filter: blur(1px);
  transition: all 0.2s ease-in;
}

.home .index-link:hover,
.index .home-link:hover {
  filter: blur(0);
}

.note-excerpt-title {
  transition: all 0s ease-in;
  background-color: #fff;
}

.selector {
  position: absolute;
  margin-bottom: 0.5rem;
}

.logo {
  height: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.logo-svg {
  width: 36rem;
  height: auto;
  transition: all 0.3s ease-in;
}

.blog-prevnext {
  display: flex;
}

.single-project .logo__text,
.single-project .selector {
  display: none !important;
}

.single-project .logo {
  height: fit-content;
}

@media screen and (min-width: 769px) {
  .single-project .logo-svg {
    width: 14rem;
  }
}

.single-project .header__right {
  opacity: 0;
}

.menu {
  display: flex;
}
.menu a {
  padding: 1rem;
  display: block;
}
.menu a[aria-current] {
  text-decoration: underline;
}

.social {
  display: flex;
  padding: 0 0.5rem;
}
.social a {
  padding: 1rem 0.5rem;
}

.section {
  padding: 3rem 0;
}

.grid {
  --columns: 12;
  --gutter: 3rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: 1fr;
}
.grid > .column {
  margin-bottom: var(--gutter);
}

.autogrid {
  --gutter: 3rem;
  --min: 10rem;
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
  grid-auto-flow: dense;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.text {
  line-height: 1.5em;
}
.text a {
  text-decoration: underline;
}
.text :first-child {
  margin-top: 0;
}
.text :last-child {
  margin-bottom: 0;
}
.text p,
.text ul,
.text ol {
  margin-bottom: 1.5rem;
}
.text ul,
.text ol {
  margin-left: 1rem;
}
.text ul p,
.text ol p {
  margin-bottom: 0;
}
.text ul > li {
  list-style: disc;
}
.text ol > li {
  list-style: decimal;
}
.text ul ol,
.text ul ul,
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}
.text h1,
.h1,
.intro {
  font-size: 2rem;
  margin-bottom: 3rem;
  line-height: 1.25em;
}
.text h2,
.h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
.text h3,
.h3 {
  font-weight: 600;
}
.text .codeblock {
  display: grid;
}
.text code {
  font-family: var(--font-family-mono);
  font-size: 1em;
  background: var(--color-light);
  padding: 0 0.5rem;
  display: inline-block;
  color: var(--color-black);
}
.text pre {
  margin: 3rem 0;
  background: var(--color-black);
  color: var(--color-white);
  padding: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  line-height: 1.5rem;
}
.text pre code {
  padding: 0;
  background: none;
  color: inherit;
}
.text hr {
  margin: 6rem 0;
}
.text dt {
  font-weight: 600;
}
.text blockquote {
  font-size: 1.25rem;
  line-height: 1.325em;
  border-left: 2px solid var(--color-black);
  padding-left: 1rem;
  margin: 3rem 0;
  max-width: 25rem;
}
.text blockquote footer {
  font-size: 0.875rem;
  font-style: italic;
}
.text figure {
  margin: 3rem 0;
}
.text figcaption {
  padding-top: 0.75rem;
  color: var(--color-text-grey);
}

hr {
  border: 0;
  background: currentColor;
  height: 2px;
  width: 1.5rem;
  margin: 3rem auto;
}

.align-center {
  text-align: center;
}

.selector,
.blog-prevnext {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  background-color: #ffff;
}

.intro {
  max-width: 40rem;
}
.intro *:not(:last-child) {
  margin-bottom: 1em;
}

.cta {
  background: var(--color-black);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-black);
}

.box {
  background: var(--color-light);
  padding: 1.5rem;
  border: 4px solid var(--color-white);
  outline: 2px solid var(--color-light);
}

.video,
.img {
  position: relative;
  display: block;
  --w: 1;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  background: var(--color-black);
}
.img img,
.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0;
}
.img[data-contain] img {
  object-fit: contain;
}
.img-caption,
.video-caption {
  padding-top: 0.75rem;
  line-height: 1.5em;
}

.footer {
  padding: 3rem 1.25rem 2rem;
  line-height: 17px;
  display: flex;
  justify-content: space-between;
}

.logo-holder {
  opacity: 0;
}

.logo-real {
  position: fixed;
  z-index: 1;
}

#mc_embed_signup {
  display: flex;
  width: 17rem;
  flex-direction: column;
  justify-content: space-between;
}

#mc_embed_signup_scroll {
  position: relative;
}

#mc_embed_signup_scroll svg {
  position: absolute;
  right: 0;
  top: 1.6rem;
  opacity: 0.7;
}

input[type='submit'] {
  position: absolute;
  right: 0;
  top: 1.6rem;
  cursor: pointer;
  opacity: 0;
  width: 1rem;
}

input[type='email'] {
  line-height: 1.6;
  width: 100%;
  border-bottom: 1px solid #000 !important;
}

.footer strong {
  font-weight: bold;
}

.footer input {
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
}

input {
  border-radius: 0 !important;
}

.copyright {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 13px;
}

.footer h2 {
  font-weight: 400;
  margin-bottom: 0.75rem;
}
.footer ul,
.footer p {
}
.footer p {
  width: 36rem;
  margin-bottom: 1rem;
}
.footer p:last-child {
  margin-bottom: 0;
}
.footer a:hover {
  color: var(--color-text);
}

.map {
  --w: 2;
  --h: 1;
  padding-bottom: calc(100% / var(--w) * var(--h));
  position: relative;
  overflow: hidden;
  background: var(--color-black);
}
.map iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.margin-s {
  margin-bottom: 0.75rem;
}
.margin-m {
  margin-bottom: 1.5rem;
}
.margin-l {
  margin-bottom: 3rem;
}
.margin-xl {
  margin-bottom: 4.5rem;
}
.margin-xxl {
  margin-bottom: 6rem;
}

@media screen and (min-width: 60rem) {
  body {
    --padding: 3rem;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid > .column {
    grid-column: span var(--columns);
  }
}

.pagination {
  display: flex;
  padding-top: 6rem;
}
.pagination > span {
  color: var(--color-text-grey);
}
.pagination > * {
  padding: 0.5rem;
  width: 3rem;
  text-align: center;
  border: 2px solid currentColor;
  margin-right: 1.5rem;
}
.pagination > a:hover {
  background: var(--color-black);
  color: var(--color-white);
  border-color: var(--color-black);
}

.note-excerpt header {
  margin-bottom: 1.5rem;
  margin-bottom: 0.5rem;
}
.note-excerpt figure {
  margin-bottom: 0.5rem;
}
.projects-nav {
  margin-left: 1.25rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.projects-nav span {
  margin: 0 0.25rem;
}

.note-excerpt-date {
  color: var(--color-text-grey);
}

.index .default-footer {
  display: none;
}

.minus {
  width: 0.7rem;
  display: none;
  margin-right: 0.3rem;
}
.active .minus {
  display: block;
}
.active .plus {
  display: none;
}
.plus {
  width: 0.7rem;
  margin-right: 0.3rem;
}

@media screen and (max-width: 768px) {
  html,
  body,
  #__nuxt,
  #__layout {
    height: 100% !important;
    width: 100% !important;
  }

  .bio .mobile__nav {
    display: none !important;
  }

  .bio .home-grid {
    opacity: 0;
  }

  .logo {
    width: 100%;
  }

  header {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
  }

  .header {
    position: fixed;
    z-index: 1;
    height: auto;
    width: calc(100% - 2.5rem);
  }

  .footer {
    flex-direction: column;
    gap: 1rem;
  }

  .logo-svg {
    width: calc(100vw - 2.5rem);
    height: 100%;
  }

  .projects-nav,
  .logo__text,
  .header__right {
    display: none !important;
  }

  .footer p,
  #mc_embed_signup {
    width: 100%;
  }

  .main,
  .home-height {
    height: 100%;
  }

  .home-grid {
    display: block !important;
    flex-direction: column;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: normal;
    -webkit-overflow-scrolling: touch; /* Needed on iOS Safari */
    height: 100%;
    overflow-y: scroll;
    gap: 0;
  }

  .home-grid li {
    height: 100% !important;
    display: flex;
    scroll-snap-align: start;
    gap: 0 !important;
    background-color: #fff !important;
    align-items: center;
    justify-content: center;
  }

  .home-grid__wrapper {
  }

  .home-grid__toggle {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 0.75rem;
  }

  .home-grid__toggle.active {
    filter: blur(1px);
  }

  .home-grid__content {
    display: block;
    margin-left: 0.8rem;
    line-height: 1;
    margin-bottom: 0.75rem;
  }

  .home-grid li {
    align-items: flex-end;
  }

  .home-grid li img {
    margin-bottom: 1.25rem;
  }

  .home-grid a {
    position: relative;
    width: calc(100vw - 2.5rem);
  }

  .single-project .column {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100%;
    left: 0;
    z-index: 1;
  }

  .logo-holder {
    display: none;
  }

  .index .column {
    position: relative;
    z-index: 0;
  }

  .index .home-height {
    height: 0;
  }

  .index .page-enter-to {
    background-color: red;
  }

  .index {
    background-color: #fff;
  }

  .index .home-grid {
    position: absolute;
    left: 1.25rem;
    height: 0;
  }

  .single-project footer,
  .single-project .logo .single-project .single-project__text {
    display: none;
  }
}
